@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none;
}

.films {
    width: 100%;
}

.films div {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
}

.films div div {
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000);
    position: absolute;
    z-index: 5;
}

.films p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
    bottom: 6%;
    z-index: 10;
    width: 90%;
}

.films img {
    display: flex;
    z-index: -10;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.movie {
    height: 100Vh;
}

.movie h4 a{
    margin-left: 2vh;
    color: #726F6F;
    opacity: 50%;
}

.movie h4 a:hover{
    opacity: 80%;
}

.movie .affiche img{
    border-radius: 20px;
    height: 90%;
}

.movie .acteur img {
    border-radius:10px;
}

.movie .acteur::-webkit-scrollbar {
    display: none;
}