@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
    outline: none;
}

.films {
    width: 100%;
}

.films div {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
}

.films div div {
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #000);
    position: absolute;
    z-index: 5;
}

.films p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
    bottom: 6%;
    z-index: 10;
    width: 90%;
}

.films img {
  display: flex;
  z-index: -10;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.movie {
  height: 100Vh;
}

#album_list input{
    background-color: transparent;
    border: 1px solid #726F6F;
    border-radius: 4px;
    margin-bottom: 8px;
}

#album_list select{
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 8px;
}

#album_list #button{
    background-color: #AE0000;
    border-radius: 4px;
    margin-bottom: 8px;
    padding: 2px 12px;
    color: white;
}

.movie h4 a{
    margin-left: 2vh;
    color: #726F6F;
    opacity: 50%;
}

.movie h4 a:hover{
    opacity: 80%;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.movie .affiche img{
    border-radius: 20px;
    height: 100%;
}

.movie .acteur img {
    border-radius:10px;
}

.movie .acteur::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1000px) {
  
  .movie h4 a {
    display: none;
  }

  .movie .affiche img{
    width: 100%;
  }

}